*{
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0 auto;
  width: 1280px;
}
header {
  margin-top: 63px;
}
.logo-link {
  color: #000;
  text-decoration: none;
  font-size: 80px;
  font-weight: 400;
}
.blue_letters{
  display: inline;
  color: #4BCAFF;
  font-size: 80px;
  font-weight: 400;
}
.menu {
  margin-bottom: 50px;
}
.menu-header {
  background-color: #35444F;
}
.head {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin-top: 40px;
}
.menu-item {
  font-size: 24px;
  border-left: #FFF solid 1px;
  border-right: #FFF solid 1px;
  padding: 24px 32px 18px 32px;
}
.menu-item:hover{
  background-color: #222F3A;
}
.menu-link {
  color: #FFF;
  text-decoration: none;
}
.menu-and-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-left {
  width: 344px;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}
.menu-item-left {
  font-size: 27px;
  padding: 26px 0 26px 44px;
}
.menu-item-left:hover {
  padding-left: 72px;
  background-color: #DBDBDB;
}
.menu-link-left {
  color: #485863;
  text-decoration: none;
}
.menu-link-left:hover {
  color: #000;
}
.border {
  width: 885px;
  height: 529px;
  border: #000 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
}
.ramda {
  transition: .5s;
}
.border:hover img {
  transform: scale(1.3);
}
.text {
  width:  885px;
  color: #2C2C2C;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}
main {
  margin-bottom: 40px;
}
.footer {
  width: 1280px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
}
.footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 40px; 
}
.menu-link-foot {
  color: #0C1927;
  text-decoration: none;
  font-size: 28px;
  margin-right: 30px;
}
.menu-link-foot:hover {
  color: #3181A6;
  text-decoration: underline;
}
.menu-footer {
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.copyright {
 font-size: 24px;
 padding-right: 40px;
}